@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import 'computer-modern/cmu-serif.css';
@import 'computer-modern/cmu-typewriter-text.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-display: 'CMU Serif';
	--font-mono: 'CMU Typewriter Text';
	--color-background: var(--color-neutral-100);
	--color-secondary: var(--color-neutral-200);
	--color-foreground: var(--color-neutral-800);
	--color-dimmed: var(--color-neutral-400);
	--color-dimmed-hover: var(--color-neutral-500);
	--color-accent: var(--color-violet-400);
}

.dark {
	--color-background: var(--color-neutral-900);
	--color-secondary: var(--color-neutral-800);
	--color-foreground: var(--color-neutral-200);
	--color-dimmed: var(--color-neutral-600);
	--color-dimmed-hover: var(--color-neutral-500);
}

body {
	@apply mx-4 mb-8 flex max-w-3xl flex-col gap-y-2 bg-background font-display text-foreground md:mx-auto;
}

h1 {
	@apply my-4 text-4xl font-bold;
}

h2 {
	@apply my-3 text-3xl font-bold;
}

h3 {
	@apply my-2 text-2xl font-bold;
}

h4 {
	@apply my-2 text-xl font-bold;
}

sup a[data-footnote-ref] {
	@apply text-accent;
}

.footnotes {
	@apply text-sm;

	h2 { @apply m-0 text-xl }
	.data-footnote-backref {
		@apply text-accent;
	}
}

.prose {
	figure {
		img, audio { @apply mx-auto }
		figcaption {
			@apply text-center;
		}
	}

	a:not([data-footnote-ref]) {
		@apply decoration-1 hover:decoration-2 hover:decoration-accent transition-all;
	}

	[data-footnote-ref]::before,
	[data-footnote-ref]::after {
		@apply decoration-0 text-dimmed;
	}

	[data-footnote-ref]::before {
		content: '[';
	}

	[data-footnote-ref]::after {
		content: ']';
	}
}